<div class="jumbotron">

  <h3>Garduino</h4>
  <h4><i>Manage and Monitor your Garden Remotely</i></h4>

</div>

<div class="card">
<div class="card-header">
  Login In
</div>

<div class="card-body">

  <a class="btn btn-primary" href="/login">Using Okta</a>
</div>

</div>